replicaCount: 1
image:
  repository: ghcr.io/NIKHIL-KUMAR-K-S/devops-starter
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  host: "devops-starter.local"

resources: {}
